# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore dist in source control, but allow gh-pages to push it
# Only ignore dist in the main branch, not in gh-pages
# (You don’t need to change this line if you use gh-pages CLI correctly)
